{% extends 'base.html' %}

{% block head %}
<title>Shhh... Menopasal Coach</title>
{% endblock %}

{% block body %}

<div class="heroSection">
    <div class="heroText">
        <div id="italicText">Your Personal</div>
        <div id="boldText"> Menopausal Coach</div>
        <a href="{{ url_for('chatbot') }}">Start Session</a>
    </div>
    <div>
        <img src="{{ url_for('static', filename='images/coachImgNobg.png') }}" alt="Menopausal Coach Svg" width="400px"  />
    </div>
</div>
{% endblock %}